header{
    height: 10vh;
}
.logo{
    position: relative;
    top: 2%;
    left: 1%;
}
main{
    height: 85vh;
}
#ahorcadoContenedor{
    width: 100vw;
    height: 450px;
    text-align:center;
}
#ahorcado{
    margin: 0px auto;
    height: 420px;
    width: 320px;
}
.pedestalBase{
    position: absolute;
    bottom: 44%;
    left: 40%;
}
.pedestalMastil{
    position: absolute;
    left: 44%;
    bottom: 44%;
}
.pedestalVara{
    position: absolute;
    bottom: 81%;
    left: 44%;
}
.pedestalSoga{
    position: absolute;
    bottom: 76%;
    left: 53%;
}
#cabeza{
    position: absolute;
    bottom: 70%;
    left: 51.5%;
    display: none;
}
#tronco{
    position: absolute;
    bottom: 56%;
    left: 53%;
    display: none;
}
#brazoDerecho{
    position: absolute;
    bottom: 61%;
    left: 51.2%;
    display: none;
}
#brazoIzquierdo{
    position: absolute;
    bottom: 61%;
    left: 53%;
    display: none;
}
#piernaIzquierda{
    position: absolute;
    bottom: 50%;
    left: 53%;
    display: none;
}
#piernaDerecha{
    position: absolute;
    bottom: 50%;
    left: 51.2%;
    display: none;
} 
.newWordArea{
    resize: none;
}
#wordContainer {
    display: block;
}
.letter {
    letter-spacing: 0.5vh;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-color: black;
}
.hidden {
    color: transparent;
}
#mistakesContainer{
    text-transform: uppercase;
    display: block;
    height: 1em;
}
.center{
    text-align: center;
    margin: 5px 0;
}
#addNewWordButton{
    display: none;
}
#buttonGiveUp{
    display: none;
}
footer{
    height: 5vh;
}
.nameFooter{
    text-align: center;
    color: darkblue;
}